@import url('https://fonts.googleapis.com/css?family=Lobster');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    transition: 0.6s;
}

.dotted {
    border-bottom: 5px dotted white;
    width: 50%;
    height: 70px;
    margin: auto;
    border-collapse: separate;
    justify-content: center;
  }

  .fadein{
    transition: 0.6s;
  }