<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
</head>
<body>
    <br>
    <select id="type_box">
        <option value="Drinks">Ital</option>
        <option value="Food">Étel</option>
        <option value="Snack">Rágcsa</option>
    </select><br><br>
    <label for="product_name">Termék neve:</label><br>
    <input type="text" id="product_name" name="product_name" style="width: 500px;"><br><br>
    <select id="alk_box">
        <option value="1">Alkoholos</option>
        <option value="0">Alkohol mentes</option>
    </select>
    <select id="temper_box">
        <option value="0">Hideg</option>
        <option value="1">Meleg</option>
    </select>
    <br><br>
    <form action="upload_pic.php" method="post" enctype="multipart/form-data">
        <input type="file" id="pic_path" name="pic_path" accept="image/jpeg, image/png, image/jpg">
        <img id="tmpimage" style="width:400px; height:auto">
        <hr>
        <button id="Insbtn">INSERT</button>
        <br>
    </form>
    
    <span id="response">.</span>


    <script type="module">

        var ins_btn = document.getElementById("Insbtn");

        function InsertData(){
            var name_box = document.getElementById("product_name");
            var pic_path_box = document.getElementById("pic_path");
            var alk_box = document.getElementById("alk_box");
            var temper_box = document.getElementById("temper_box");
            var type_box = document.getElementById("type_box");

            var picpath = pic_path_box.value.split("\\")[pic_path_box.value.split("\\").length-1];

            var httpr = new XMLHttpRequest();

            httpr.open("POST","../../Script/insert_data.php",true);
            httpr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            httpr.onreadystatechange=function(){
                if(httpr.readyState == 4 && httpr.status == 200){
                    document.getElementById("response").innerHTML=httpr.responseText;
                }
            }
            httpr.send("name="+name_box.value+"&path=pic/"+picpath+"&alcohol="+(alk_box.disabled == false ? alk_box.value : "2")+"&temperature="+(temper_box.disabled == false ? temper_box.value : "2")+"&type="+type_box.value);
        }

        //Button events
        ins_btn.addEventListener('click', InsertData);

        var f = document.getElementById("pic_path");
        f.addEventListener("change", function(){
                const reader = new FileReader();
                reader.addEventListener("load", () => {
                    document.querySelector("#tmpimage").src = reader.result;
                });

                reader.readAsDataURL(this.files[0]);
            });

        var typeselect = document.getElementById("type_box");
        typeselect.onchange = function(){
            var alk_box = document.getElementById("alk_box");
            var temper_box = document.getElementById("temper_box");

            if(this.value == "Drinks"){
                alk_box.disabled = false;
                temper_box.disabled = false;
                alk_box.value = "0";
                temper_box.value = "0";
            }else if(this.value == "Food"){
                alk_box.disabled = true;
                temper_box.disabled = false;
                alk_box.value = "2";
                temper_box.value = "0";
            }else{
                alk_box.disabled = true;
                temper_box.disabled = true;
                alk_box.value = "2";
                temper_box.value = "2";
            }
        };

      </script>
</body>
</html>